.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# IDE specific files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.factorypath

# OS files
.DS_Store

# Docker
docker-compose.override.yml
